
.title{
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80vw;
&__h {
  flex-grow: 1;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(280deg,#3d4fa8 25%,#26294b 80%);
  font-family: "gilroyheavy",sans-serif;
  font-size: 100px;
  font-stretch: normal;
  width: 350px;
  font-style: normal;
  font-weight: 700;
  white-space: break-spaces;
  letter-spacing: 4.17px;
  line-height: 120px;
  margin: 50px 0 0;
}

&__p {
  margin-top: 40px;
  padding: 40px;
  flex-grow: 1;
  width: 500px;
  color: #2f3466;
  font-family: "Gilroy",sans-serif;
  font-size: 24px;
  white-space: break-spaces;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: .46px;
  line-height: 1.33;
}
}

.cards{
  display: grid;
  grid-template: 1fr 1fr/ 240px 1fr;
  grid-row-gap: 20px;
  margin-right: 20px;
  grid-template-areas:
          'icon header'
          'icon text';

  &__image{
    grid-area: icon;
    width: 225px;
    height:225px ;
  }
&__header{
  grid-area:header;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(280deg,#3d4fa8 25%,#26294b 80%);
  font-family: "gilroyheavy",sans-serif;
  font-size: 60px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  white-space: wrap;
  letter-spacing: 4.17px;
  line-height: 120px;
  margin: 50px 0 0;
}
  &__text{
  grid-area: text;
    color: #2f3466;
    font-family: "Gilroy",sans-serif;
    font-size: 24px;
    white-space: pre-wrap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .46px;
    line-height: 1.33;

  }

}