.modal{
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  //border:2px #eeeeee;
  &__window{
    margin:50px;
    padding: 50px;
    display: inline-flex;
    flex-direction: column;
    align-items: end;
    min-width: 512px;
    max-width: 812px;
    background: #ffffff;
    box-shadow: 1px 1px 2px  2px #2a2a2a;
    border-radius: 12px;

  }
  &__login{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    padding: 20px;
    margin-right: 70px;
    align-self: start;
    font-family: Gilroy,sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    a{
      //position: relative;
      //padding: 10px;
      position: static;
      font-weight: bold;
      transition: 0.4s ease-in-out;
      text-decoration: none;
      text-transform: uppercase;
      display: inline;
      color: black;
      margin: 0;
    }


    &__avatar{
      display: inline-flex;
      align-items: center;
      text-align:center;
      align-content: end;
      height: 225px;
      width: 225px;
      border: dashed 4px #2a2a2a;
      border-radius: 50%;
    }

  }
  .wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-items: start;

  }

}
