.Cart_page{
  display: flex;
  flex-direction:  column;
  padding-bottom: 40px;

}


.Cart_empty{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Gilroy", sans-serif;
  font-weight: bolder;
  font-size: 42px;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  background: white;
  bottom: 0;
  width: 100vw;
  height: 80px;
}
.Cart_bottom{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;

  font-family: "Gilroy", sans-serif;
  font-weight: bolder;
  font-size: 42px;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  background: white;
  bottom: 0;
  width: 100vw;
  height: 80px;

  &__spaces{
    margin: 0 50px;
  }

}

.Cart_item{
  margin: 20px;
  display: grid;
  border: solid 3px #2a2a2a;
  border-radius: 12px;
  grid-template:repeat(auto-fill,250px)/250px 1fr 150px;


  &__product_photo{
    border-radius: 9px 12px 12px 9px;
    border:  solid 3px #2a2a2a;
    place-self: center;
    object-fit: fill;
    width:  250px;
    height:  250px;
    grid-row: 1;
    grid-column: 1;
  }


  &__product_title {
    grid-column: 2;
    margin:10px;
    flex-direction: column;
    font-family: "Gilroy", sans-serif;
    text-overflow: ellipsis;

    &__name {
      font-weight: 600;
      font-size: 34px;
    }


    &__description {
      overflow: scroll;
      overflow-wrap: anywhere;
      height: 190px;
      display: inline-flex;
      font-size: 28px;
    }

    &__end_block{
      display: flex;
      border-radius: 12px 9px 9px 12px;
      border:  solid 2px #2a2a2a;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-weight: bold;
      padding-top: 30px;
      grid-column: 3;
      font-size: 32px;
    }

  }}
